@import '../../parameters.scss';

.dicto-player-MediaPlayer
{
  position: absolute;
  left: 0;
  width: 100%;

  .media-player
  {
    pointer-events : none;
  }

  iframe
  {
    max-width: 100%!important;
    max-height: 100%!important;
  }
}