@import '../../parameters.scss';

.dicto-player-SearchComposition
{
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  overflow: hidden;

  input{
    flex: 1;
    padding: $gutter-small;
    border: none;
    background: $color-bg-medium;
    outline: none;

    transition: all $time-short ease;

    &:hover,
    &:focus
    {
      color: $color-bg-light;
      background: $color-btn-medium;
    }
  }
}