@import '../../parameters.scss';

.dicto-player-Railway
{
    position: relative;

    display: flex;

    width: 3%;
    padding-top: $gutter-medium * 4;
    padding-bottom: $gutter-medium;

    pointer-events: none;

    background: $color-btn-dark;

    flex-flow: column nowrap;
    justify-content: stretch;
    .chunks-container
    {
        position: relative;

        pointer-events: none;

        flex: 1;
        overflow: hidden;
        .chunk
        {
            position: absolute;
            left: 0;

            display: inline-block;
            display: flex;

            width: 100%;
            margin: 0;
            padding: 0;

            cursor: pointer;
            transition: all $time-short ease;
            pointer-events: all;

            border: 1px solid rgba(255, 255, 255, .5);
            background: rgba(255, 255, 255, .5);

            flex-flow: row nowrap;
            align-items: stretch;
            .tag
            {
                opacity: .1;

                flex: 1;
            }
            &:hover
            {
                background: rgba(255, 255, 255, .6);
                .tag
                {
                    opacity: .8;
                }
            }
            &.active
            {
                background: rgba(255, 255, 255, .7);
                &:hover
                {
                    background: rgba(255, 255, 255, .9);
                }
                .tag
                {
                    opacity: .9;
                }
            }
            &.hidden
            {
                background: rgba(255, 255, 255, .1);
            }
        }
    }
    .playing-head
    {
        position: absolute;
        left: 0;

        width: 100%;

        transition: all $time-short/2 ease;
        pointer-events: none;

        border-bottom: 1px solid red;
    }
    .scrollbar
    {
        position: absolute;
        left: 0;

        width: 100%;

        transition: all $time-short/2 ease;
        pointer-events: none;

        background: rgba(255,255,255,.8);
    }

    .player-ui
    {
        pointer-events: all;
        position: absolute;
        left: 0;
        top: $gutter-medium * 1.5;
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        button
        {
            width: 100%;
            background: transparent;
            border: none;
            color: $color-bg-light;
            outline: none;
            margin: 0;
            margin-bottom: $gutter-small/2;
            padding: 0;
            text-align : center;
            cursor: pointer;
            &#volume-symbol
            {
                transition : all $time-short ease;
                opacity: 0.3;
                &.active
                {
                    opacity: 1;
                }
                span{
                    transition: all $time-short ease;
                }
                span:nth-child(1) {
                    font-size: .33em;
                }
                span:nth-child(2) {
                    font-size : .66em;
                }
                &:hover
                {
                    span{
                        font-size: 1em;
                    }
                }
            }
        }
    }
}
