@import '../../parameters.scss';

.dicto-player-Railway
{
    display: flex;

    width: 3%;
    padding-top: $gutter-medium;
    padding-bottom: $gutter-medium;

    background: $color-btn-dark;

    flex-flow: column nowrap;
    justify-content: stretch;
    position: relative;
    .chunks-container
    {
        position: relative;

        flex: 1;
        .chunk
        {
            position: absolute;
            left: 0;

            display: inline-block;

            width: 100%;
            margin: 0;
            padding: 0;

            transition: all $time-short ease;

            cursor: pointer;

            border: 1px solid rgba(255, 255, 255, .5);
            background: rgba(255, 255, 255, .5);


            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;

            .tag{
              flex: 1;
              opacity: .1;
            }

            &:hover
            {
                background: rgba(255, 255, 255, .6);
                .tag{
                  opacity: .8;
                }
            }
            &.active
            {
                background: rgba(255, 255, 255, .7);
                &:hover
                {
                    background: rgba(255, 255, 255, .9);
                }
                .tag{
                  opacity: .9;
                }
            }
            &.hidden
            {
                background: rgba(255, 255, 255, .1);
            }
        }
    }

    .scrollbar
    {
        position : absolute;
        left: 0;
        background: rgba(255,255,255,0.8);
        width: 100%;
        transition: all $time-short/2 ease;
    }
}
