@import '../../parameters.scss';

.dicto-player-Railway
{
    display: flex;

    width: $font-size-6;
    padding-top: $gutter-medium;
    padding-bottom: $gutter-medium;

    background: $color-btn-dark;

    flex-flow: column nowrap;
    justify-content: stretch;
    .chunks-container
    {
        position: relative;

        flex: 1;
        .chunk
        {
            position: absolute;
            left: 0;

            display: inline-block;

            width: 100%;
            margin: 0;
            padding: 0;

            transition: all $time-short ease;

            cursor: pointer;

            border: 1px solid rgba(255, 255, 255, .5);
            background: rgba(255, 255, 255, .5);


            display: flex;
            flex-flow: row nowrap;
            align-items: stretch;
            &:hover
            {
                background: rgba(255, 255, 255, .6);
            }
            &.active
            {
                background: rgba(255, 255, 255, .7);
                &:hover
                {
                    background: rgba(255, 255, 255, .9);
                }
            }
            &.hidden
            {
                background: rgba(255, 255, 255, .1);
            }

            .tag{
              flex: 1;
              opacity: .4;
            }
        }
    }
}
